@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800&display=swap");
html {
  font-family: "Noto Sans KR", sans-serif;
}

body, ul, li, h1, figure, p, h2 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p, b {
  white-space: pre-line;
}

header {
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
header .header_wrap {
  width: 1320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_wrap h1 a {
  display: flex;
}
header .header_wrap h1 a img {
  width: 200px;
}
header .header_wrap nav ul {
  display: flex;
}
header .header_wrap nav ul li a {
  margin: 0 35px;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}
header .header_wrap nav ul li a:hover::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #0077C0;
}
header .header_wrap .tab {
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
header .header_wrap .tab span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: 0.5s;
}
header .header_wrap .tab span:nth-of-type(1) {
  top: 20%;
}
header .header_wrap .tab span:nth-of-type(2) {
  bottom: 20%;
}
header .header_wrap .tab span.active:nth-of-type(1) {
  transform: rotate(50deg);
  top: 50%;
}
header .header_wrap .tab span.active:nth-of-type(2) {
  transform: rotate(-50deg);
  top: 50%;
}
header .new {
  display: none;
  width: 100%;
  height: 100%;
}
header .new .tab_menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .new .tab_menu ul li {
  padding: 40px;
  text-align: center;
  font-size: 30px;
}
header .new.active1 {
  display: block;
}

footer {
  border-top: 1px solid #EBEBEB;
}
footer .footer_wrap1 .footer_top {
  display: flex;
  width: 1320px;
  margin: auto;
  padding: 50px 0;
}
footer .footer_wrap1 .footer_top .left_wrap {
  width: 40%;
}
footer .footer_wrap1 .footer_top .left_wrap > figure {
  margin-bottom: 25px;
}
footer .footer_wrap1 .footer_top .left_wrap .left_p {
  margin-bottom: 50px;
}
footer .footer_wrap1 .footer_top .left_wrap .left_p p {
  font-size: 14px;
  color: #666;
  line-height: 2;
  font-weight: 500;
}
footer .footer_wrap1 .footer_top .left_wrap .small_img {
  display: flex;
  margin-bottom: 30px;
}
footer .footer_wrap1 .footer_top .left_wrap .small_img figure:nth-of-type(1) {
  margin-right: 20px;
}
footer .footer_wrap1 .footer_top .left_wrap .sns_icon ul {
  display: flex;
}
footer .footer_wrap1 .footer_top .left_wrap .sns_icon ul li {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
footer .footer_wrap1 .footer_top .right_wrap {
  width: 60%;
}
footer .footer_wrap1 .footer_top .right_wrap .right1 {
  display: flex;
  margin-bottom: 30px;
}
footer .footer_wrap1 .footer_top .right_wrap .right1 p {
  width: 140px;
  font-size: 18px;
  color: #666;
  font-weight: 500;
}
footer .footer_wrap1 .footer_top .right_wrap .right1 ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
footer .footer_wrap1 .footer_top .right_wrap .right1 ul li {
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
}
footer .footer_wrap2 {
  border-top: 1px solid #EBEBEB;
}
footer .footer_wrap2 .footer_bottom {
  width: 1320px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
footer .footer_wrap2 .footer_bottom .left ul {
  display: flex;
}
footer .footer_wrap2 .footer_bottom .left ul li {
  font-weight: 500;
  font-size: 14px;
}
footer .footer_wrap2 .footer_bottom .left ul li:nth-of-type(1) {
  font-weight: bold;
}
footer .footer_wrap2 .footer_bottom .left ul li:nth-of-type(1)::after {
  font-weight: 500;
}
footer .footer_wrap2 .footer_bottom .left ul li::after {
  content: "|";
  padding: 0 15px;
}
footer .footer_wrap2 .footer_bottom .left ul li:last-child::after {
  content: none;
}
footer .footer_wrap2 .footer_bottom .right {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}

.top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  z-index: 3;
  top: 83%;
  left: 92%;
}
.top span {
  color: #0077C0;
  font-size: 35px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  header {
    width: 100%;
  }
  header .header_wrap {
    width: 95%;
  }
  header .header_wrap h1 a img {
    width: 150px;
  }
  header .header_wrap nav ul li a {
    margin: 0 15px;
    font-size: 16px;
    font-weight: 600;
    height: 80px;
  }
  header .header_wrap .tab {
    width: 25px;
  }
  header .header_wrap .tab span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: 0.5s;
  }
  header .header_wrap .tab span:nth-of-type(1) {
    top: 20%;
  }
  header .header_wrap .tab span:nth-of-type(2) {
    bottom: 20%;
  }
  header .header_wrap .tab span.active:nth-of-type(1) {
    transform: rotate(50deg);
    top: 50%;
  }
  header .header_wrap .tab span.active:nth-of-type(2) {
    transform: rotate(-50deg);
    top: 50%;
  }
  header .header_wrap .tab_menu {
    display: none;
  }
  footer {
    width: 100%;
  }
  footer .footer_wrap1 .footer_top {
    width: 95%;
  }
  footer .footer_wrap2 .footer_bottom {
    width: 95%;
  }
  footer .footer_wrap2 .footer_bottom .left ul li {
    font-size: 11px;
  }
  footer .footer_wrap2 .footer_bottom .left ul li::after {
    content: "|";
    padding: 0 10px;
  }
  footer .footer_wrap2 .footer_bottom .right {
    font-size: 11px;
  }
  .top {
    top: 87%;
    left: 87%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  header {
    width: 100%;
  }
  header .header_wrap {
    width: 95%;
  }
  header .header_wrap h1 a img {
    width: 90px;
  }
  header .header_wrap nav ul li a {
    margin: 0 5px;
    font-size: 12px;
    font-weight: 500;
    height: 60px;
  }
  header .header_wrap .tab {
    width: 18px;
    height: 20px;
  }
  header .header_wrap .tab span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: 0.5s;
  }
  header .header_wrap .tab span:nth-of-type(1) {
    top: 20%;
  }
  header .header_wrap .tab span:nth-of-type(2) {
    bottom: 20%;
  }
  header .header_wrap .tab span.active:nth-of-type(1) {
    transform: rotate(50deg);
    top: 50%;
  }
  header .header_wrap .tab span.active:nth-of-type(2) {
    transform: rotate(-50deg);
    top: 50%;
  }
  header .header_wrap .tab_menu {
    display: none;
  }
  footer {
    width: 100%;
  }
  footer .footer_wrap1 .footer_top {
    width: 95%;
    display: block;
  }
  footer .footer_wrap1 .footer_top .left_wrap {
    margin-bottom: 50px;
    width: 100%;
  }
  footer .footer_wrap1 .footer_top .right_wrap {
    width: 100%;
  }
  footer .footer_wrap1 .footer_top .right_wrap .right1 p {
    font-size: 16px;
  }
  footer .footer_wrap1 .footer_top .right_wrap .right1 ul li {
    font-size: 14px;
    font-weight: 400;
  }
  footer .footer_wrap2 .footer_bottom {
    width: 95%;
    display: block;
    text-align: center;
  }
  footer .footer_wrap2 .footer_bottom .left {
    margin-bottom: 10px;
  }
  footer .footer_wrap2 .footer_bottom .left ul {
    justify-content: center;
  }
  footer .footer_wrap2 .footer_bottom .left ul li {
    font-size: 11px;
  }
  footer .footer_wrap2 .footer_bottom .left ul li::after {
    content: "|";
    padding: 0 10px;
  }
  footer .footer_wrap2 .footer_bottom .right {
    font-size: 11px;
  }
  .top {
    width: 50px;
    height: 50px;
    top: 88%;
    left: 85%;
  }
  .top span {
    font-size: 27px;
  }
}
@media (max-width: 480px) {
  header {
    width: 100%;
  }
  header .header_wrap {
    width: 95%;
    align-items: center;
    height: 60px;
  }
  header .header_wrap h1 a img {
    width: 110px;
  }
  header .header_wrap nav {
    display: none;
  }
  header .header_wrap .tab {
    width: 20px;
    height: 20px;
  }
  header .header_wrap .tab span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: 0.5s;
  }
  header .header_wrap .tab span:nth-of-type(1) {
    top: 20%;
  }
  header .header_wrap .tab span:nth-of-type(2) {
    bottom: 20%;
  }
  footer {
    width: 100%;
  }
  footer .footer_wrap1 .footer_top {
    width: 95%;
    display: block;
  }
  footer .footer_wrap1 .footer_top .left_wrap {
    margin-bottom: 0px;
    width: 100%;
  }
  footer .footer_wrap1 .footer_top .right_wrap {
    width: 100%;
  }
  footer .footer_wrap1 .footer_top .right_wrap .right1 {
    display: none;
  }
  footer .footer_wrap2 .footer_bottom {
    width: 95%;
    display: block;
    text-align: center;
  }
  footer .footer_wrap2 .footer_bottom .left {
    margin-bottom: 10px;
  }
  footer .footer_wrap2 .footer_bottom .left ul {
    justify-content: center;
  }
  footer .footer_wrap2 .footer_bottom .left ul li {
    font-size: 11px;
  }
  footer .footer_wrap2 .footer_bottom .left ul li::after {
    content: "|";
    padding: 0 10px;
  }
  footer .footer_wrap2 .footer_bottom .right {
    font-size: 11px;
  }
  .top {
    width: 40px;
    height: 40px;
    top: 90%;
    left: 82%;
  }
  .top span {
    font-size: 23px;
  }
}
main .food_con1 {
  margin-bottom: 100px;
  background: url(../imgs/food_bg.jpg) no-repeat 50%/cover;
  width: 100%;
  height: 350px;
}
main .food_con1 .con1_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: #fff;
  animation: food 1.5s;
}
@keyframes food {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}
main .food_con1 .con1_txt h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
}
main .food_con1 .con1_txt p:nth-of-type(1) {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 35px;
}
main .food_con1 .con1_txt p:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}
main .food_con2_wrap {
  margin-bottom: 160px;
}
main .food_con2_wrap .food_con2 {
  width: 1200px;
  margin: auto;
}
main .food_con2_wrap .food_con2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .food_con2_wrap .food_con2 ul li:nth-of-type(1), main .food_con2_wrap .food_con2 ul li :nth-of-type(2) {
  margin-bottom: 80px;
}
main .food_con2_wrap .food_con2 ul li figure {
  margin-bottom: 40px;
}
main .food_con2_wrap .food_con2 ul li .food_con2_txt b {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
}
main .food_con2_wrap .food_con2 ul li .food_con2_txt p {
  font-size: 18px;
  color: #333;
}
main .food_ad_wrap {
  background: #DEF2FF;
  position: relative;
}
main .food_ad_wrap .food_ad {
  padding: 50px 0 0;
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .food_ad_wrap .food_ad::after {
  content: "";
  background: url("../imgs/grow_ad1.png") no-repeat right bottom;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
main .food_ad_wrap .food_ad .ad_txt b {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 30px;
}
main .food_ad_wrap .food_ad .ad_txt p {
  margin-bottom: 30px;
  font-size: 18px;
  color: #333;
}
main .food_ad_wrap .food_ad .ad_txt a {
  color: #fff;
  background-color: #0077C0;
  padding: 13px 40px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}
main .food_ad_wrap .food_ad .ad_txt a::after {
  content: ">";
  margin-left: 5px;
}
main .food_ad_wrap .food_ad figure {
  font-size: 0;
  margin-right: 100px;
  z-index: 1;
}/*# sourceMappingURL=food.css.map */