@import "_reset";

main{
  .grow_con1_wrap{
    margin-bottom: 100px;
    width:100%;
    height: 350px;
    background: url("../imgs/grow_bg.jpg")no-repeat 50% / cover;
    .grow_con1{
      width: 1200px;
      margin: auto;
      height: 100%;
      display: flex;
      align-items: center;
      .grow_con1_txt{
        animation: grow 1.5s;
        @keyframes grow {
          0% {
            transform: translateX(-150px);
          }
          100% {
            transform: translateX(0);
          }
        }
        h2{
          font-size: 40px;
          margin-bottom: 30px;
          white-space:pre-line;
        }
        a{
          padding: 13px 40px;
          border-radius: 50px;
          background-color: #0077C0;
          color:#fff;
          display: inline-block;
        }
      }
    }
  }
  .grow_con2_wrap{
    margin-bottom: 160px;
    .grow_con2{
      width:1200px;
      margin: auto;
      ul{
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 60px;
          .grow_con2_txt{
            h3{
              font-size: 30px;
              font-weight: 700;
              margin-bottom: 25px;
            }
            p{
              font-size: 20px;
              color:#333;
            }
          }
          figure{
            width:500px;
            img{
              width:100%;
            }
          }
        }
      }
    }
  }
  .grow_con3_wrap{
    background: #F9FAFB;
    padding: 120px 0 180px;
    margin-bottom: 160px;
    .grow_con3{
      width:1200px;
      margin: auto;
      h2{
        font-size: 40px;
        margin-bottom: 80px;
        text-align: center;
      }
      .grow_con3_content{
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          li{
            display: flex;
            width: calc((100%/2) - 50px);
            margin-bottom: 100px;
            figure{
              font-size: 0;
              img{
                border-radius: 20px 0 0 20px;
              }
            }
            .bottom_txt{
              background: #fff;
              border-radius: 0 20px 20px 0;
              padding:20px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              text-align: center;
              p{
                white-space:normal;
                &:nth-of-type(1){
                  &::after{
                    content: "";
                    display: inline-block;
                    width:100%;
                    border-bottom:1px solid #0077C0;
                  }
                }
                &:nth-of-type(2){
                  font-size: 18px;
                  margin-bottom: 20px;
                  font-weight: 500;
                }
              }
              b{
                font-size: 26px;
                display: inline-block;
                margin-bottom: 10px;
                font-weight: 700;
              }
              a{
                display: inline-block;
                color: #0077C0;
                font-weight: bold;
                font-size: 18px;
                &::after{
                  content: ">";
                  margin-left:5px;
                }
              }
            }
          }
          .bottom_txt2{
            display: none;
          }
        }
      }
    }
  }
  .grow_ad_wrap{
  background-color: #DEF2FF;
  position: relative;
    .grow_ad{
      width:1200px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;
      &::after{
        content: "";
        background: url("../imgs/grow_ad1.png") no-repeat right bottom;
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: auto 100%;
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .grow_ad_txt{
        b{
          display: inline-block;
          font-size: 30px;
          margin-bottom: 15px;
          font-weight: 700;
        }
        p{
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 30px;
          color: #333;
        }
        a{
          padding: 13px 40px;
          border-radius: 50px;
          text-align: center;
          display: inline-block;
          background-color: #0077C0;
          color:#fff;
          &::after{
            content: ">";
            margin-left:5px;
          }
        }
      }
      figure{
        z-index: 1;
      }
    }
  }
}
@media (min-width:768px) and (max-width:1200px){
  main{
    .grow_con1_wrap{
      .grow_con1{
        width: 95%;
      }
    }
    .grow_con2_wrap{
      margin-bottom: 160px;
      width:100%;
      .grow_con2{
        width:95%;
      }
    }
    .grow_con3_wrap{
      width:100%;
      padding: 100px 0 50px;
      .grow_con3{
        width:95%;
        .grow_con3_content{
          ul{
            li{
              width: 100%;
            }
          }
        }
      }
    }
    .grow_ad_wrap{
      width:100%;
      .grow_ad{
        width:95%;
      }
    }
  }
}
@media (min-width:481px) and (max-width:767px){
  main{
    .grow_con1_wrap{
      overflow: hidden;
      .grow_con1{
        width: 95%;
        justify-content: center;
        text-align: center;
        .grow_con1_txt{
          animation: grows 1.5s;
          @keyframes grows{
            0%{transform: translateY(150px);}
            100%{transform: translateY(0);}
          }
        }
      }
    }
    .grow_con2_wrap{
      margin-bottom: 160px;
      width:100%;
      .grow_con2{
        width:95%;
        ul{
          li{
            display: block;
            .grow_con2_txt{
              text-align: center;
            }
            figure{
              width: 100%;
              text-align: center;
              img{
                width:80%;
              }
            }
          }
        }
      }
    }
    .grow_con3_wrap{
      width:100%;
      padding: 100px 0 50px;
      .grow_con3{
        width:95%;
        .grow_con3_content{
          ul{
            li{
              width: 100%;
              figure{
                img{
                  height: 100%;
                }
              }
              .bottom_txt{
                p{
                  &:nth-of-type(1){
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .grow_ad_wrap{
      width:100%;
      .grow_ad{
        width:95%;
        display: block;
        &::after{
          content: none;
        }
        .grow_ad_txt{
          text-align: center;
          margin-bottom: 30px;
        }
        figure{
          text-align: center;
        }
      }
    }
  }
}
@media (max-width:480px){
  main{
    .grow_con1_wrap{
      overflow: hidden;
      height:300px;
      .grow_con1{
        width: 95%;
        justify-content: center;
        text-align: center;
        .grow_con1_txt{
          animation: grows 1.5s;
          @keyframes grows{
            0%{transform: translateY(150px);}
            100%{transform: translateY(0);}
          }
          h2{
            font-size: 28px;
          }
        }
      }
    }
    .grow_con2_wrap{
      margin-bottom: 100px;
      width:100%;
      .grow_con2{
        width:95%;
        ul{
          li{
            display: block;
            .grow_con2_txt{
              text-align: center;
              h3{
                font-size: 26px;
                margin-bottom: 10px;
              }
              p{
                font-size: 17px;
                margin-bottom: 20px;
              }
            }
            figure{
              width: 100%;
              text-align: center;
              img{
                width:80%;
              }
            }
          }
        }
      }
    }
    .grow_con3_wrap{
      width:100%;
      padding: 80px 0 0px;
      margin-bottom: 100px;
      .grow_con3{
        width:95%;
        h2{
          font-size: 30px;
          margin-bottom: 50px;
        }
        .grow_con3_content{
          ul{
            li{
              display: block;
              width: 100%;
              margin-bottom: 70px;  
              figure{
                text-align: center;
                img{
                  width: 90%;
                  border-radius: 20px;
                  height: 320px
                }
              }
              .bottom_txt{
                background: none;
                p{
                  &:nth-of-type(1){
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .grow_ad_wrap{
      width:100%;
      .grow_ad{
        width:95%;
        display: block;
        &::after{
          content: none;
        }
        .grow_ad_txt{
          text-align: center;
          margin-bottom: 30px;
          b{
            font-size: 27px;
          }
          a{
            padding: 13px 30px;
          }
        }
        figure{
          text-align: center;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}