@import "_reset";

main{
  .story_con1{
    background: url("../imgs/story_bg.jpg") no-repeat 50% / cover;
    width:100%;
    height:350px;
    margin-bottom: 100px;
    overflow: hidden;
    .con1_txt{
      display: flex;
      align-items: center;
      justify-content: center;
      height:100%;
      text-align: center;
      flex-direction: column;
      animation: ani 1.5s;
      @keyframes ani{
        0%{transform: translateY(150px);}
        100%{transform: translateY(0);}
      }
      b{
        display: inline-block;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 10px;
      }
      p{
        &:nth-of-type(1){
          color: #666;
          font-weight: 400;
          margin-bottom: 35px;
        }
        &:nth-of-type(2){
          font-size: 20px;
          font-weight: 500;
        } 
      }
    }
  }
  .story_con2_wrap{
    margin-bottom: 160px;
    .story_con2{
      width:1200px;
      margin: auto;
      ul{
        li{
          padding: 50px 85px;
          border: 1px solid #dbdbdb;
          border-radius: 20px;
          margin-bottom: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          >figure{
            img{
              border-radius: 12px;
            }
          }
          .con2_txt{
            .icon_txt{
              display: flex;
              align-items: center;
              gap: 20px;
              margin-bottom: 25px;
              >figure{
                border-radius: 50%;
                width: 60px;
                height: 60px;
                border: 1px solid #ebebeb;
                img{
                  width:100%;
                  border-radius: 50%;
                }
              }
              .flex{
                b{
                  display: inline-block;
                  margin-bottom: 5px;
                  font-size: 24px;
                }
                >p{
                  font-size: 18px;
                }
              }
            }
            >p{
              font-size: 18px;
              color:#333;
              margin-bottom: 30px;
            }
            a{
              display: inline-block;
              border: 1px solid #0077C0;
              color:#0077C0;
              padding: 13px 40px;
              border-radius: 50px;
              text-align: center;
              transition: .5s;
              &::after{
                content: ">";
                margin-left:5px;
              }
              &:hover{
                background-color: #0077C0;
                color:#fff;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:768px) and (max-width:1200px){
  main{
    .story_con1{
      .con1_txt{
        width:80%;
        margin: auto;
      }
    }
    .story_con2_wrap{
      margin-bottom: 100px;
      width:100%;
      .story_con2{
        width:95%;
        ul{
          li{
            padding: 20px 35px;
            >figure{
              width:50%;
              font-size: 0;
              margin-right: 20px;
              img{
                width:100%;
              }
            }
            .con2_txt{
              .icon_txt{
                margin-bottom: 15px;
                >figure{
                  img{
                    width:100%;
                    border-radius: 50%;
                  }
                }
                .flex{
                  b{
                    font-size: 18px;
                  }
                  >p{
                    font-size: 16px;
                  }
                }
              }
              >p{
                font-size: 15px;
                margin-bottom: 25px;
              }
              a{
                padding: 13px 30px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width:481px) and (max-width:767px){
  main{
    .story_con1{
      .con1_txt{
        width:80%;
        margin: auto;
      }
    }
    .story_con2_wrap{
      margin-bottom: 100px;
      width:100%;
      .story_con2{
        width:95%;
        ul{
          li{
            padding: 50px 35px;
            display: block;
            >figure{
              width:100%;
              font-size: 0;
              margin-right: 20px;
              margin-bottom: 30px;
              img{
                width:100%;
              }
            }
            .con2_txt{
              .icon_txt{
                margin-bottom: 15px;
                >figure{
                  img{
                    width:100%;
                    border-radius: 50%;
                  }
                }
                .flex{
                  b{
                    font-size: 18px;
                  }
                  >p{
                    font-size: 16px;
                  }
                }
              }
              >p{
                font-size: 15px;
                margin-bottom: 25px;
              }
              a{
                padding: 13px 30px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width:480px){
  main{
    .story_con1{
      height:300px;
      .con1_txt{
        width:80%;
        margin: auto;
        b{
          font-size: 30px;
        }
        p{
          &:nth-of-type(1){
            font-size: 15px;
          }
          &:nth-of-type(2){
            font-size: 17px;
          }
        }
      }
    }
    .story_con2_wrap{
      margin-bottom: 100px;
      width:100%;
      .story_con2{
        width:95%;
        ul{
          li{
            padding: 50px 35px;
            display: block;
            >figure{
              width:100%;
              font-size: 0;
              margin-right: 20px;
              margin-bottom: 30px;
              img{
                width:100%;
              }
            }
            .con2_txt{
              .icon_txt{
                margin-bottom: 15px;
                >figure{
                  display: none;
                  img{
                    width:100%;
                    border-radius: 50%;
                  }
                }
                .flex{
                  b{
                    font-size: 18px;
                  }
                  >p{
                    font-size: 16px;
                  }
                }
              }
              >p{
                font-size: 15px;
                margin-bottom: 25px;
              }
              a{
                padding: 13px 30px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}